
html{ /*font-family - стиль текста */
    font-family: Tahoma;
   /* padding-left: 5em; /*отступ слева*/
    /*font-size:32px;*/
}

body{
    width: 700px;
    /*font-size: 0.9rem;*/
    height: auto;
    margin: 0;

}

h3{
    color: darkblue;
}

.try{

     color: black;
     background: rebeccapurple;
}

area{
    color: red;
}

li{
    color: aliceblue;
}


header {
    /*padding-left: 5em;*/
    background-color: #b8e09d;
    height: 100px;
    width:150%;
    left:50%;
    text-align: left;

}
.header-container {
    max-width: 1000px;
    margin: auto;
    left:50%;
}

.list{
    padding: 0px 0px 0px 0px;
    width: 100%;
    text-align:justify;
}
.help{
    color: black;
    height: 90px;
}



.zagolovok{
    margin-left: 10px;
    margin-up: 30px;
    padding: 20px 0px 20px 0px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

