
html{ /*font-family - стиль текста */
    font-family: Tahoma;
   /* padding-left: 5em; /*отступ слева*/
    /*font-size:32px;*/
}

body{
    width: 700px;
    /*font-size: 0.9rem;*/
    height: auto;
    margin: 0;

}
h3{
    color: darkblue;
}
 .try{

     color: black;
     background: rebeccapurple;
}

area{
    color: red;
}

li{
    color: aliceblue;
}
.start{
    /*background: palevioletred;*/
    background-size: 100%;
   /* height: 120px;*/
    background-color: #e9e9e9;
    height: 170px;
    min-width: 1366px;
}

