.logo{
    height: 67px;
    margin-right: 10px;
    float: left;
}
.grid-container-flex {
    display: flex;
    flex-direction: column;
    background-color: rgba(236, 197, 204, 0.8);
    font-size: 0.9rem;
    color: #1c1717;
    margin-top: 1rem;
    height: 9em;
}
/* Стили по умолчанию для мобильных устройств */
.table-flex {
    display: flex;
    flex-direction: column;
    background-color: rgba(236, 197, 204, 0.8);
    font-size: 0.9rem;
    color: #1c1717;
    margin-top: 1rem;
    height: 9em;
 }
.link-flex {
    display: flex;
    flex-direction: column;
    background-color: rgba(236, 197, 204, 0.8);
    font-size: 0.9rem;
    color: #1c1717;
    margin-top: 1rem;
    height: 9em;
}
.form-flex {
    display: flex;
    flex-direction: column;
    background-color: rgba(236, 197, 204, 0.8);
    font-size: 0.9rem;
    color: #1c1717;
    margin-top: 1rem;
    height: 9em;
}

/* Медиа запрос для настольных компьютеров */
@media (min-width: 1024px) {
    .table-flex {
        font-size: 2rem;
    }

    .link-flex {
        grid-template-columns: none;
        height: 12em;
    }
}


.navigashin{
    font-size: 12px;
}
