.main_button{
  color: #eac5cc;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.89);
}
#main_button_center{ /*выравнивание главной кнопки по центру*/
  margin: 0;
  background: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}


