#blablabla {
  display: none;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

#blablabla.open {
  display: block;

}

.content{
  max-width:calc(100%);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.5);
  /*background: rgba(17, 17, 17, 0.5);*/
  transition: all 0.5s ease;
  display: none;
  max-width: calc(100%);
}

.popup_open {
  display: block;
}

.popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  max-width: 588px;
  width: 100%;
  max-height: 100vh; /* Добавляем максимальную высоту равную высоте видимой области экрана */
}

.popup__wrapper {
  padding: 40px;
}


@media only screen and (max-width: 760px) {


  .popup__container {
    display: flex;
    justify-content: center;
    max-width: 450px;
    padding: 10px;
    margin: 0;
  }
  .popup__wrapper{
  padding: 20px;

  }
}




@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.page_close{
  width: 30px;
  position: absolute;
  top: 10%;
  left: 90%;
}
