*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #eac5cc;
}
.container{
  width: 900px;
  display: flex;
  overflow-x:scroll ;
}

.container .gallery{
  width: 100%;
  display: flex;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}
.container .gallery img{
  width: 300px;
  height: auto;
}
.container::-webkit-scrollbar{
  display: none;
}

.contrils{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}

.contrils #rightBtn, .contrils #leftBtn{
  width: 70px;
  cursor: pointer;
  margin: 30px;
}
